.idea
.ipynb_checkpoints
4k
best_model
best_model_many_class
double
double_add
dragon
dragon_add
gif
new_best_model_many_class
not_item
rafael
rafael_add
text
1.jpg
1.mp4
2.jpg
3.jpg
4.jpg
7.jpg
best_model.tar.gz
data.tar.xz
data_part_Second.tar.xz
datasets.zip
double.jpg
double_inner.jpg
lab4_beta.zip
model_many_class.tar.gz
new_model_v_02.zip
out_without.avi
out_without1.avi
out_without_classficator.avi
outpy_with.avi
outpy_with1.avi
outpy_with_classficator.avi
rafael_add.csvls
Screenshot from 2020-11-28 21-49-45.png
Screenshot from 2020-11-30 18-29-23.png
test.ipynb
test.png
test.py
test_cuda.ipynb
test_new.ipynb
test_v02.ipynb