.idea
.ipynb_checkpoints
convert_to_image.py
model.h5
model.json
bananka
scorpions
pinginus
pin_ban.avi
scor_ban.avi
scor_pin.avi
test.mp4
test1.mp4
tmp.csv
scor_ban_svm.avi
scor_pin_svm.avi
scor_ban_tree.avi
scor_pin_tree.avi
cnn.ipynb
kaze_another_describe.ipynb
kaze_new_way.ipynb
kaze_test.ipynb